/* Open Legislation Main */
body {
  font-family: Arial, sans-serif;
}
.header {
  background-color:#dedede;    
}
#getbill {
  padding:10px 25px;
  margin: 0;
}
.bill-container {
  float: left;
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 0 10px;
}
.bill-container .content {
  font-size: 12px;
  width: 525px;
  float:left;
  font-family: Courier;
  margin-bottom: 60px;
}
.bill-container header {
  border: solid 1px #eee;
}
.diffstats-container{
  float: left;
  position: relative;
  font-family: Courier;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
}
.diffstats-container .content{
  padding: 10px;
}