<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Diff View</title>

        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/screen.css" />

    </head>
    <body>
        <div class='header'>
            <form id="getbill">
                Get Bill: <input type="text" name="bill-id" value="S7033-2011"> 
               <!--  <select name="diff-against"> 
                  <option value="previous" >Previous Version </option>
                  <option value="law" >Changes in Law</option>
                </select>  -->
                <input type="submit" >
            </form> 
        </div>                  

        <div id="diffstats">
        </div>

        <div id="bills">
        </div>

        <script id="diffstatsTemplate" type="text/diffstatstemplate">

          <div class="content">
          <%= diffstatstext %>
          </div>

        </script>      
    <script id="billTemplate" type="text/template">

    <header>
        <p class="bill-number"><%= senateBillNo %></p>
        <p class="law-section"><%= lawSection %></p>
        <h3 style="clear:both"><%= title %></h3>
        <p class="sponsor">Sponsor: <%= sponsor.fullname %></p>
        
        <form class="bill-result">
        <p>Compare <select name="bill1">
            <% for(var i = 0; i < sourceBills.length; i++) { %>
                <option value="<%= i %>"><%= sourceBills[i].senateBillNo %></option>
            <% } %>
        </select> to <select name="bill2">
            <% for(var i = 0; i < sourceBills.length; i++) { 

                if (sourceBills[i].senateBillNo == senateBillNo) continue;
                %>
                    <option value="<%= i %>"><%= sourceBills[i].senateBillNo %></option>
            <% } %>
            <option value="changes">Changes in Law</option>
        </select>
        </p>
        <input type="submit" value="Get Diff"/>
        </form>
    </header>

        <div class="diff-container">

        </div>
        </script>


        </div>
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/json2.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/diff_match_patch.js"></script>
        <script src="js/effects.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
