<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
        <div class='main'>

            <header>
                <div class='top-header'>
                    <div style="float:left;">
                        <a href="http://nysenate.gov">NYSenate.gov</a>:
                        <a href="http://nysenate.gov/senators">Senators</a>&nbsp;|&nbsp;
                        <a href="http://nysenate.gov/committees">Committees</a>&nbsp;|&nbsp;
                        <a href="http://nysenate.gov/issues-initiatives">Issues &amp; Initiatives</a>&nbsp;|&nbsp;
                        <a href="http://nysenate.gov/newsroom">Newsroom</a>
                    </div>
                </div>

                <div class='mid-header'>
                    <img class='logo' src="../backbonetry1/img/openwordlogo.png" />
                    <span class='logo-title'>Legislation Diff Tool</span>

                    <form id="getbill">
                        Get Bill: <input name="bill-id" value="7033"><input type="submit" >
                    </form>
                <div>
            </header>                   

            <div id="contacts"></div>

		<script id="billTemplate" type="text/template">
			<h1><%= title %></h1>
			<div class="bill-number"><%= senateBillNo %></div>
			<div class="year"><%= year %></div>
			<div class="law-section"><%= lawSection %></div>
			<div class="same-as"><%= sameAs %></div>
			<ul class="previousVersions">
				<% for(var previousVersion in previousVersions) { %>
					<li><%= previousVersions[previousVersion] %></li>
				<% } %>
			</ul>
			<ul class="sponsor">
				<% for(var key in sponsor) { %>
					<li><strong><%= key %>: <%= sponsor[key] %></li>
				<% } %>
			</ul>
			<div class="summary"><%= summary %></div>
			<div class="current-committee"><%= currentCommittee %></div>
			<ul class="actions">
				<% for(var action in actions) { %>
					<li>
						< actions[action]['text'] >
					</li>
				<% } %>
			</ul>
			<div class="full-text"><%= fulltext %></div>
			<div class="memo"><%= memo %></div>
			<div class="law"><%= law %></div>
				// <%= votes %>

        </script>
        
        <script id="contactTemplate" type="text/template">
            <h1><%= name %><span><%= type %></span></h1>
            <div><%= address %></div>
            <dl>
                <dt>Tel:</dt><dd><%= tel %></dd>
                <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
            </dl>
        </script>

        </div>
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/json2.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/diff_match_patch.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
